<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="container">
    <form class="form-card col-md-4" [formGroup]="passwordForm">
      <fieldset>
        <legend>Reset password</legend>
        <!-- **** PASSWORD **** -->
        <div class="input-group mb-3">
          <div class="form-floating flex-grow-1">
            <input id="password" type="{{ passwordType }}" class="form-control"
            [class.is-invalid]="f.password.invalid && f.password.touched"
            formControlName="password" placeholder="Password">
            <label for="password" class="form-label">Password:</label>
          </div>
          <a class="input-group-text rounded-end" (click)="toggleShow()">
            <fa-icon [icon]="faEye" [hidden]="showPassword"></fa-icon>
            <fa-icon [icon]="faEyeSlash" [hidden]="!showPassword"></fa-icon>
          </a>

          <div *ngIf="(f.password.invalid && f.password.touched) || f.password.dirty">
            <!--question mark(?) is a safe navigation operator-->
            <small *ngIf="f.password.errors?.required || f.password.errors?.pattern" class="text-danger">
              Must be 8-20 characters long, contains atleast one uppercase and lowercase letters,
              one number, and one special character
            </small>
          </div>
        </div>

        <!-- **** CONFIRM PASSWORD **** -->
        <div class="form-floating mb-3">
          <input id="confirm_password" type="password" class="form-control"
            [class.is-invalid]="f.confirm_password.invalid && f.confirm_password.touched"
            formControlName="confirm_password" placeholder="Confirm">
          <label for="confirm_password" class="form-label">Confirm password:</label>

          <div *ngIf="(f.confirm_password.invalid && f.confirm_password.touched) || f.confirm_password.dirty">
            <!--question mark(?) is a safe navigation operator-->
            <small *ngIf="passwordMatchError" class="text-danger">Password does not match</small>
          </div>
        </div>
      </fieldset>
      <div class="action-buttons mt-3">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="passwordForm.invalid">Submit</button>
      </div>
    </form>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <a routerLink="/auth/login" class="btn btn-sm btn-outline-secondary">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
         Back
      </a>
    </div>
  </div>

</div>
