<div class="container">
  <div class="mt-4 mb-2 col-md-12">
    <span class="text-muted btn-align">List of users</span>
    <div class="float-sm-end">
      <input type="text"
        class="me-2 btn-align align-middle border rounded"
        placeholder="Search then press Enter"
        (keyup.enter)="searchOnEnter($event)"
        (keyup)="onResetSearch($event)">
      <a routerLink="/users/create" class="btn btn-outline-secondary align-middle">+</a>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Firstname</th>
          <th scope="col">Email</th>
          <th scope="col">Roles</th>
          <th >Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles }}</td>
          <td>
            <a routerLink="/users/{{ user.id }}" class="btn btn-sm btn-outline-secondary"><fa-icon [icon]="faEye"></fa-icon></a>
            <span class="col-md-3 offset-md-2"></span>
            <app-delete-modal [toBeDeletedEntity]="'users'"
              [toBeDeletedId]="user.id"
              [toBeDeletedEntityName]="user.firstname + ' ' + user.name">
            </app-delete-modal>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <a routerLink="" class="btn btn-outline-secondary">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
     Back
  </a>
</div>
